schema/argosdb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://quixoticshepherds.com/argos" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:argos="http://quixoticshepherds.com/argos" 
    xmlns:xhtml="http://www.w3.org/1999/xhtml" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1">
    <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd"/>
    <xs:annotation>
        <xs:documentation>The ARGOS Schema is maintained by Janis E. Kenderdine. For more information, including how to get involved in the project and how to submit change requests, please visit the ARGOS-K9 Project website at https://argos.quixoticshepherds.com.</xs:documentation>
        <xs:appinfo>
            <schema>Core Definition</schema>
            <version>0.1</version>
            <date>14 June 2019</date>
            <terms_of_use>This program is free software: you can redistribute it and/or modify
                it under the terms of the GNU General Public License as published by
                the Free Software Foundation, either version 3 of the License, or
                (at your option) any later version.
            
                This program is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                GNU General Public License for more details.
            
                You should have received a copy of the GNU General Public License
                along with this program.  If not, see https://www.gnu.org/licenses/.</terms_of_use>
        </xs:appinfo>
    </xs:annotation>
    <!-- =============================================================================== -->
    <!-- =================================  Database  ================================== -->
    <!-- =============================================================================== -->
    <xs:element name="ARGOS-K9_Database">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Dogs" type="argos:DogsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Kennels" type="argos:KennelsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="People" type="argos:PeopleType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Organizations" type="argos:OrganizationsType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Breeds" type="argos:BreedsType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="date" type="xs:date" use="required"/>
        </xs:complexType>
        <xs:unique name="uniqueDogID">
            <xs:selector xpath="./argos:Dogs/argos:Dog"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueKennelID">
            <xs:selector xpath="./argos:Kennels/argos:Kennel"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniquePersonID">
            <xs:selector xpath="./argos:People/argos:Person"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueOrganizationID">
            <xs:selector xpath="./argos:Organizations/argos:Organization"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueBreedID">
            <xs:selector xpath="./argos:Breeds/argos:Breed"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        <xs:unique name="uniqueTitleID">
            <xs:selector xpath="./argos:Organizations/argos:Organization/argos:Titles/argos:Title"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

    <!-- =============================================================================== -->
    <!-- ====================================  DOG  ==================================== -->
    <!-- =============================================================================== -->
    <xs:complexType name="DogsType">
        <xs:sequence>
            <xs:element name="Dog" type="argos:DogType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DogType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Attributes" type="argos:AttributesType" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                            <xs:documentation>Attributes that describe the dog</xs:documentation>
                        </xs:annotation>
            </xs:element>
            <xs:element name="Events">
                <xs:annotation>
                        <xs:documentation></xs:documentation>
                    </xs:annotation>
            </xs:element>
            <xs:element name="Relationships" type="argos:RelationshipsType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="gender" type="xs:string" use="required"/>
        <xs:attribute name="altered" type="xs:string" use="optional"/>
    </xs:complexType>
    <!-- =============================================================================== -->
    <!-- ==================================  KENNEL  =================================== -->
    <!-- =============================================================================== -->
    <xs:complexType name="KennelsType">
        <xs:sequence>
            <xs:element name="Kennel" type="argos:KennelType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KennelType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Breeds" type="argos:BreedsType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Relationships" type="argos:RelationshipsType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="short" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="role" type="argos:RoleEnumeration" use="optional"/>
    </xs:complexType>
    <!-- =============================================================================== -->
    <!-- ==================================  PERSON  =================================== -->
    <!-- =============================================================================== -->
    <xs:complexType name="PeopleType">
        <xs:sequence>
            <xs:element name="Person" type="argos:PersonType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Relationships" type="argos:RelationshipsType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="first_name" type="xs:string" use="required"/>
        <xs:attribute name="last_name" type="xs:string" use="required"/>
        <xs:attribute name="role" type="argos:RoleEnumeration" use="optional"/>
    </xs:complexType>
    <!-- =============================================================================== -->
    <!-- ===============================  ORGANIZATION  ================================ -->
    <!-- =============================================================================== -->
    <xs:complexType name="OrganizationsType">
        <xs:sequence>
            <xs:element name="Organization" type="argos:OrganizationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganizationType">
        <xs:sequence>
            <xs:element name="Registration" type="argos:RegistrationType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Titles" type="argos:TitlesType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="role" type="argos:RoleEnumeration" use="optional"/>
    </xs:complexType>
    <xs:complexType name="RegistrationType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <!-- =============================================================================== -->
    <!-- ==================================  BREEDS  =================================== -->
    <!-- =============================================================================== -->
    <xs:complexType name="BreedsType">
        <xs:sequence>
            <xs:element name="Breed" type="argos:BreedType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BreedType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <!-- =============================================================================== -->
    <!-- =================================  DEFS  ================================== -->
    <!-- =============================================================================== -->
    <xs:complexType name="RelationshipsType">
        <xs:sequence>
            <xs:element name="Organizations" type="argos:OrganizationsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Kennels" type="argos:KennelsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="People" type="argos:PeopleType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoleEnumeration">
		<xs:annotation>
			<xs:documentation>The RoleEnumeration simple type contains a list of values corresponding to different relationship types/roles.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Member"/>
            <xs:enumeration value="Breeder"/>
            <xs:enumeration value="Owner"/>
            <xs:enumeration value="Registrant"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="PhenotypesType">
        <xs:sequence>
            <xs:element name="Phenotype" type="argos:PhenotypeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PhenotypeType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="GenotypesType">
        <xs:sequence>
            <xs:element name="Genotype" type="argos:GenotypeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenotypeType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="CharacteristicsType">
        <xs:sequence>
            <xs:element name="Character" type="argos:CharacterType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CharacterType">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="AttributesType">
        <xs:sequence>
            <xs:element name="Phenotypes" type="argos:PhenotypesType" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                            <xs:documentation>Physical characteristics</xs:documentation>
                        </xs:annotation>
            </xs:element>
            <xs:element name="Genotypes" type="argos:GenotypesType" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                            <xs:documentation>Genetic characteristics</xs:documentation>
                        </xs:annotation>
            </xs:element>
            <xs:element name="Characteristics" type="argos:CharacteristicsType" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                            <xs:documentation>Temperament characteristics</xs:documentation>
                        </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TitlesType">
        <xs:sequence>
            <xs:element name="Title" type="argos:TitleType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TitleType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Agility, Obedience, Rally, etc.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ps" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Prefix or Suffix (P/S)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="RolesType">
        <xs:sequence>
            <xs:element name="Role" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificationsType">
        <xs:sequence>
            <xs:element name="Certification" type="argos:CertificationType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificationType">
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Breeder, Judge, etc.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>